body {
    font-family: 'Times New Roman', Georgia, serif;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h5, h5{
    font-family: 'Playfair Display';
    letter-spacing: 5px;
}

.top {
    position: fixed;
    width: 100%;
    top: 0;
}

.bar {
    background-color: rgb(85, 164, 198);
    padding: 20px;
    letter-spacing: 4px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.55);
    width: 100%;
}

.nav {
    float: right;
}

.nav a:hover {
    background-color: white;
  }

.link-nav {
    text-decoration: none;
    color: black;
    margin: 0 10px;
}

.link-nav.active {
    background-color: white;
  }

.hm-img {
    width: 100%;
    max-height: 600px;
}

.classe-img {
    position: relative;
    display: inline-block;
}

.bottom-left {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 20px;
    background-color: rgba(177, 141, 141, 0);
    font-size: 24px;
    font-weight: bold;
}

.h-form {
    font-size: 48px;
}

.the-footer {
   position: initial;
    /* bottom: 0; */
    text-align: center;
}

/* About page */

.grid {
    /* display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: justify;
    padding: 64px;
    grid-template-columns: 1fr 1fr; */

    display: grid;
    grid-template-columns: 2fr 4fr; /* Divise la grille en deux colonnes égales */
    gap: 20px; /*Espace entre les colonnes*/
    padding: 20px;
  }

  .image-container {
    padding-top: 20px;
  }

.text-container {
    padding-top: 30px;
    max-width: 100%;
    text-align: justify;
}